@model Jeegoordah.Web.Controllers.GeneralController.CacheBuster

<!DOCTYPE html>

<html>
    <head>
        <title>Jeegoordah</title>
        @Html.Raw(@Model.RenderRequireJsCacheBuster("/scripts/require.js", "/scripts/jeegoordah/app.js"));
        @Html.Raw(@Model.RenderCssLink("/scripts/bootstrap/bootstrap.min.css"));
        @Html.Raw(@Model.RenderCssLink("/scripts/bootstrap/bootstrap-datepicker.css"));
        @Html.Raw(@Model.RenderCssLink("/scripts/jeegoordah/jeegoordah.css"));
    </head>
    <body>
        <div id="nav-container"></div>
        
        <div class="page-content container">
            <div class="page-header">
                <h1 id="module-name"></h1>
            </div>                
                 
            <div id="modules">                                                
            </div>            
        </div>   
        
        <div class="modal fade" id="entityEditor" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveEntityButton">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                                    
                    </div>
                </div>                            
            </div>                        
        </div>                 
    </body>
</html>