@model Jeegoordah.Web.CacheBuster

<!DOCTYPE html>

<html>
    <head>
        <title>Jeegoordah</title>
        @Html.Raw(@Model.RenderRequireJsCacheBuster("/scripts/require.js", "/scripts/jeegoordah/app.js"))
        @Html.Raw(@Model.RenderCssLink("/scripts/bootstrap/bootstrap.min.css"))
        @Html.Raw(@Model.RenderCssLink("/scripts/bootstrap/bootstrap-datepicker.css"))
        @Html.Raw(@Model.RenderCssLink("/scripts/jeegoordah/jeegoordah.css"))
    </head>
    <body>
        <div id="nav-container"></div>
        
        <div class="page-content container">
            <div class="page-header">
                <h1 id="module-name"></h1>
            </div>                
                 
            <div id="modules">                                                
            </div>            
        </div>                               
    </body>
</html>